STATUS = development
PORT = 5000
MONGODB = mongodb://895.0.5.0:23441/Project?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+1.6.1
ATOKENSECRET = 439g73qp9g7btdco3684gvq038bvuav9q3-4hf80q3gbueorafbwuiafgbu9o243h80qfbn