<!--Header is this looooong thing at the top-->
<header class="relative w-screen z-[8] px-[1em] py-[0.72em] flex justify-between shadow-lg def-theme-text def-theme-back">
	<!--Left part of the header-->
	<div class="flex flex-row items-center gap-[0.8em]">
		<!--My inner designer said that rotated text is a great idea to do-->
		<h1
			class="text-[3.2em] rotate-180 duration-1000 transition-all text-transparent bg-clip-text bg-gradient-to-r from-[#67e8f9] to-[#f472b6] dark:from-[#80ffdb] dark:to-[#7400b8]">
			Ar.A.N.M
		</h1>
		<nav class="flex flex-row gap-[0.72em]">
			<!--This button summons "CreateNewCard" form-->
			<react-wrapper [component]="newCardButton"></react-wrapper>
			<!--This button summons "CreateNewReport" form-->
			<react-wrapper [component]="reportCardButton"></react-wrapper>
			<!--This button switch between "Block" and "List" Card style-->
			<react-wrapper [component]="switchStyleButton"></react-wrapper>
		</nav>
	</div>
	<!--Right part of the header-->
	<div class="flex flex-row items-center gap-[0.8em]">
		<!--Just buttons-->
		<nav class="flex flex-row gap-[0.72em]">
			<!--I must make dark theme by default-->
			<react-wrapper [component]="switchThemeButton"></react-wrapper>
			<!--You click and BOOM, the search opens-->
			<react-wrapper [component]="searchButton"></react-wrapper>
		</nav>
		<!--The templates are in the bottom of the file-->
		<div *ngIf="this.AS.user.name;then logOutLink else signInLink"></div>
	</div>
</header>

<ng-template #signInLink>
	<!--Two cool buttons like bricks-->
	<nav class="flex flex-col gap-[0.2em]">
		<!--I could add LOG IN but i am the boss here-->
		<button mat-button color="accent">`(*>﹏<*)′</button>
		<!--Its literally send you to whats name it is-->
		<button mat-button color="accent" (click)="this.SendToLogSignIn()">SIGN IN</button>
	</nav>
</ng-template>
<ng-template #logOutLink>
		<!--Two cool buttons like bricks-->
		<nav class="flex flex-col gap-[0.2em]">
			<!--User's name-->
			<button mat-button color="accent">{{this.AS.user.name}}</button>
			<!--To log out-->
			<button mat-button color="accent" (click)="this.LogOut()">LOG OUT</button>
		</nav>
</ng-template>