<canvas></canvas>
<main>
	<form>
		<div><label for="nameInput"></label><input type="text" name="name" id="nameInput" /></div>
		<div><label for="emailInput"></label> <input type="email" name="email" id="emailInput" /></div>
		<div><label for="passwordInput"></label> <input type="password" name="password" id="passwordInput" /></div>
		<div><label for="rememberMeInput"></label> <input type="checkbox" name="rememberMe" id="rememberMeInput" /></div>
		<a href="">Rules & Policy</a>
		<button type="submit"></button>
	</form>
	<form>
		<div><label for="emailInput"></label> <input type="email" name="email" id="emailInput" /></div>
		<div><label for="passwordInput"></label> <input type="password" name="password" id="passwordInput" /></div>
		<div><label for="rememberMeInput"></label> <input type="checkbox" name="rememberMe" id="rememberMeInput" /></div>
		<button type="submit"></button>
	</form>
</main>
